{% extends 'main/base.html' %}
{% load raw_html %}

{% block head %}
	{% if title %}
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="keywords" content="{{ keywords }}"/>
    {% else %}
        <title>Новый сайт</title>
        <meta name="description" content="Новый сайт"/>
        <meta name="keywords" content="Новый сайт"/>
    {% endif %}
{% endblock %}

	{% block content %}
		<div class="container">
			<div class="row container_post">
				<div class="main_part col-md-9 align-self-center">
                    <div class="row">
                        {% for post in posts %}
                            <div class="articles col-6" itemscope itemtype="http://schema.org/Blog">
                                <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                                    <h2 class="title_articles" itemprop="name"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                    <p itemprop="description">{{ post.announce|safe }}</p>
                                    <time class="date_publication d-none" itemprop="datePublished">{{ post.published_date|date:"d-m-Y" }}</time>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
				</div>
				<ul class="navigation_menu_left col-md-3 d-none d-md-block">
					{% for category in categories %}
						<li>
							<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
						</li>
					{% endfor %}
				</ul>
				{% include "main/pagination.html" %}
			</div>
		</div>

	{% endblock %}