{% extends 'main/base.html' %}
{% block head %}
	<title>{{ category.get_seo_title }}</title>
	<meta name="description" content="{{ category.get_seo_description }}"/>
	<meta name="keywords" content="{{ category.get_seo_keywords }}"/>
{% endblock %}
	{% block content %}

		<div class="container">
			<a onclick="history.back(); return false;" href="javascript:void(0)">
				<i class="fa fa-angle-left arrow_back" aria-hidden="true"></i>
			</a>
			<div class="row container_post">
				<div class="main_part col-md-9 align-self-center">
					{% for post in posts %}
						<div class="articles col-md-12 col-xs-7" itemscope itemtype="http://schema.org/Blog">
						<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
							<h2 class="title_articles" itemprop="name"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
							<p itemprop="description">{{ post.announce|safe }}</p>
							<time class="date_publication d-none" itemprop="datePublished">{{ post.published_date|date:"d-m-Y" }}</time>
						</article>
					</div>
					{% endfor %}
				</div>
				<ul class="navigation_menu_left col-md-3 d-none d-md-block">
					<li>
						<a>{{ category.name }}</a>
					</li>
				</ul>
				{% include "main/pagination.html" %}
			</div>
		</div>
	{% endblock %}
