{% extends 'main/base.html' %}
{% load raw_html %}
{% block head %}
	<title>{{ post.get_seo_title }}</title>
	<meta name="description" content="{{ post.get_seo_description }}"/>
	<meta name="keywords" content="{{ post.get_seo_keywords }}"/>
	<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

	{% block content %}
		<div class="container">
			<a onclick="history.back(); return false;" href="javascript:void(0)">
				<i class="fa fa-angle-left arrow_back" aria-hidden="true" href="javascript:void(0)"></i>
			</a>
			<div class="row container_post">
				<div class="main_part col-12 align-self-center">
					<div class="articles col-md-12 col-xs-7" itemscope itemtype="http://schema.org/BlogPosting">
						<h2 class="title_articles text-center">{{ post.title }}</h2>
						{{ post.text|safe }}
						<p class="date_publication" itemprop="datePublished">{{ post.published_date|date:"d-m-Y" }}</p>
					</div>
				</div>
			</div>

			<!--<div id="disqus_thread"></div>-->
				<!--<script>-->

				<!--/**-->
				<!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
				<!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
				<!--/*-->
				<!--var disqus_config = function () {-->
				<!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
				<!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
				<!--};-->
				<!--*/-->
				<!--(function() { // DON'T EDIT BELOW THIS LINE-->
				<!--var d = document, s = d.createElement('script');-->
				<!--s.src = 'https://https-tinsx-ru.disqus.com/embed.js';-->
				<!--s.setAttribute('data-timestamp', +new Date());-->
				<!--(d.head || d.body).appendChild(s);-->
				<!--})();-->
				<!--</script>-->
			<!--<noscript>Please enable JavaScript to view the-->
				<!--<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>-->
			<!--</noscript>-->
		</div>
	{% endblock %}